<%- include('./components/bootstrap'); %> <%-
include('./components/navigation'); %>

<section style="background-color: #eee">
  <div class="container py-5">
    <h4 class="text-center mb-5"><strong>CHECKOUT</strong></h4>

    <form action="/checkout" method="POST">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col">
            <div class="card">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-lg-7">
                    <div class="card mb-4">
                      <div class="card-header py-3">
                        <h5 class="mb-0 text-font text-uppercase">
                          Delivery address
                        </h5>
                      </div>
                      <div class="card-body">
                        <div class="row mb-4">
                          <div class="col">
                            <div class="form-outline">
                              <label class="form-label"
                                >First name
                                <span style="color: red">*</span>
                              </label>
                              <input
                                type="text"
                                name="fname"
                                class="form-control"
                                value="<%= address.fname %>"
                                required
                              />
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-outline">
                              <label class="form-label"
                                >Last name
                                <span style="color: red">*</span>
                              </label>
                              <input
                                type="text"
                                name="lname"
                                class="form-control"
                                value="<%= address.lname %>"
                                required
                              />
                            </div>
                          </div>
                        </div>

                        <!-- Text input -->
                        <div class="form-outline mb-4">
                          <label class="form-label"
                            >Address
                            <span style="color: red">*</span>
                          </label>
                          <input
                            type="text"
                            name="address"
                            class="form-control"
                            value="<%= address.address %>"
                            required
                          />
                        </div>

                        <!-- Text input -->
                        <div class="form-outline mb-4">
                          <label class="form-label"
                            >District
                            <span style="color: red">*</span>
                          </label>
                          <input
                            type="text"
                            name="district"
                            class="form-control"
                            value="<%= address.district %>"
                            required
                          />
                        </div>

                        <!-- Text input -->
                        <div class="form-outline mb-4">
                          <label class="form-label"
                            >Province
                            <span style="color: red">*</span>
                          </label>
                          <input
                            type="text"
                            name="province"
                            class="form-control"
                            value="<%= address.province %>"
                            required
                          />
                        </div>

                        <!-- Text input -->
                        <div class="form-outline mb-4">
                          <label class="form-label"
                            >Postcode
                            <span style="color: red">*</span>
                          </label>
                          <input
                            type="text"
                            name="postcode"
                            class="form-control"
                            value="<%= address.postcode %>"
                            required
                          />
                        </div>

                        <!-- Text input -->
                        <div class="form-outline mb-4">
                          <label class="form-label"
                            >Phone number
                            <span style="color: red">*</span>
                          </label>
                          <input
                            type="text"
                            name="phone"
                            class="form-control"
                            value="<%= address.phone %>"
                            required
                          />
                        </div>

                        <!-- Message input -->
                        <div class="form-outline mb-4">
                          <label class="form-label"
                            >Additional information</label
                          >
                          <textarea
                            class="form-control"
                            name="additional"
                            rows="4"
                          ><%= address.additional %></textarea>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-5">
                    <div class="card mb-4">
                      <div class="card-header py-3">
                        <h5 class="mb-0 text-font">
                          <%= amount %> items
                          <span class="float-end mt-1" style="font-size: 13px"
                            ><a href="/cart">Edit</a></span
                          >
                        </h5>
                      </div>
                      <div class="card-body">
                        <% for (let item of items) {%>
                        <div class="row mb-3">
                          <div class="col-md-4">
                            <img
                              src="/upload/<%= item.picture %>"
                              alt="<%= item.name %>"
                              class="img-fluid rounded-3"
                              style="width: 90%"
                            />
                          </div>
                          <div class="col-md-6 ms-3">
                            <span class="text-descriptions fw-bold"
                              ><%= item.name %></span
                            >
                            <p class="text-descriptions mt-0">
                              Qty:
                              <span class="text-descriptions fw-bold"
                                ><%= item.quantity %></span
                              >
                            </p>
                            <span class="mb-0 text-price"
                              ><%= item.price %></span
                            >
                          </div>
                        </div>
                        <% } %>

                        <hr class="my-4" />

                        <div class="mt-4">
                          <ul class="list-group list-group-flush">
                            <li
                              class="list-group-item d-flex justify-content-between align-items-center px-0 fw-bold text-uppercase"
                            >
                              Total
                              <span><%= subtotal %></span>
                            </li>
                          </ul>
                        </div>
                        <div class="d-grid gap-2 p-3">
                          <button class="btn btn-dark" type="submit">
                            Place Order
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<%- include('./components/footer'); %>
